<h1><%= t("view.edit.title", model: CommissionMaster.model_name.human) %></h1>
<%= render "form", commission_master: @commission_master %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: CommissionMaster.model_name.human), @commission_master %> |
  <%= link_to t("view.edit.move_to_index", model: CommissionMaster.model_name.human.pluralize), commission_masters_path %>
</div>
