<h1><%= t("view.new.title", model: PaymentStatus.model_name.human) %></h1>
<%= render "form", payment_status: @payment_status %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: PaymentStatus.model_name.human.pluralize), payment_statuses_path %>
</div>
