<h1><%= t("view.edit.title", model: Publisher.model_name.human) %></h1>
<%= render "form", publisher: @publisher %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: Publisher.model_name.human), @publisher %> |
  <%= link_to t("view.edit.move_to_index", model: Publisher.model_name.human.pluralize), publishers_path %>
</div>
