<h1><%= t("view.new.title", model: PublisherPayment.model_name.human) %></h1>
<%= render "form", publisher_payment: @publisher_payment %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: PublisherPayment.model_name.human.pluralize), publisher_payments_path %>
</div>
