<h1><%= t("view.new.title", model: Subscription.model_name.human) %></h1>
<%= render "form", subscription: @subscription %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: Subscription.model_name.human.pluralize), subscriptions_path %>
</div>
