<h1><%= t("view.edit.title", model: Payment.model_name.human) %></h1>
<%= render "form", payment: @payment %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: Payment.model_name.human), @payment %> |
  <%= link_to t("view.edit.move_to_index", model: Payment.model_name.human.pluralize), payments_path %>
</div>
