<h1><%= t("view.edit.title", model: Subscriber.model_name.human) %></h1>
<%= render "form", subscriber: @subscriber %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: Subscriber.model_name.human), @subscriber %> |
  <%= link_to t("view.edit.move_to_index", model: Subscriber.model_name.human.pluralize), subscribers_path %>
</div>
