<h1><%= t("view.new.title", model: PlanStatus.model_name.human) %></h1>
<%= render "form", plan_status: @plan_status %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: PlanStatus.model_name.human.pluralize), plan_statuses_path %>
</div>
