<h1><%= t("view.edit.title", model: Plan.model_name.human) %></h1>
<%= render "form", plan: @plan %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: Plan.model_name.human), @plan %> |
  <%= link_to t("view.edit.move_to_index", model: Plan.model_name.human.pluralize), plans_path %>
</div>
